name: Erlang CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        erlang_version:
        - "26"
        - "27"
    steps:
    - name: Clone the repository
      uses: actions/checkout@v2
    - name: Set up Erlang/OTP
      uses: erlef/setup-beam@v1
      with:
        otp-version: ${{ matrix.erlang_version }}
    - name: Build
      run: make
    - name: Run tests
      run: make check
