name: Erlang CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        erlang_version:
        - "23.3.4.5"
        - "24.0"
    steps:
    - name: CHECKOUT
      uses: actions/checkout@v2
    - name: CONFIGURE ERLANG
      uses: gleam-lang/setup-erlang@v1.1.2
      with:
        otp-version: ${{ matrix.erlang_version }}
    - name: BUILD
      run: make
    - name: CHECK
      run: make check

  build-bazel:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        erlang_version:
        - "23.3.4.5"
        - "24.0"
    steps:
    - name: CHECKOUT
      uses: actions/checkout@v2
    - name: CONFIGURE ERLANG
      uses: erlef/setup-beam@v1
      with:
        otp-version: ${{ matrix.erlang_version }}
    - name: CONFIGURE BAZEL
      run: |
        ERLANG_HOME="$(dirname $(dirname $(which erl)))"
        cat << EOF >> .bazelrc
          build --@bazel-erlang//:erlang_version=${{ matrix.erlang_version }}
          build --@bazel-erlang//:erlang_home=${ERLANG_HOME}

          build --incompatible_strict_action_env

          build --test_strategy=exclusive
        EOF
    - name: TEST
      run: |
        bazelisk test //...
    - name: RESOVLE TEST LOGS PATH
      if: always()
      run: |
        echo "::set-output name=LOGS_PATH::$(readlink -f bazel-testlogs)"
      id: resolve-test-logs-path
    - name: CAPTURE TEST LOGS
      uses: actions/upload-artifact@v2-preview
      if: always()
      with:
        name: bazel-testlogs-${{ matrix.erlang_version }}
        path: ${{ steps.resolve-test-logs-path.outputs.LOGS_PATH }}/*
